<!DOCTYPE html>

<html>
	<head>
		<title>Account</title>

		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		
		<style>

		a{text-decoration:none}
		
		#divInfo1{display:inline-block;}
		
		#divInfo2{display:block;margin-left:20px;margin-top:100px}
		
		</style>

		
	
	</head>
	
	<body>
	
		
		<nav>

			
			<div id="divInfo1">
					<button style="margin-bottom:5px;box-shadow:3px 3px black;background-color:#33E6FF;"><a href="Index.html">Home</a></button>

					<button style="margin-right:5px;margin-left:5px;box-shadow:3px 3px black;"><a href="">Login Details</a></button>

					<button style="margin-right:5px;margin-left:5px;box-shadow:3px 3px black;"><a href="">Transactions</a></button>
					<button style="margin-right:5px;margin-left:5px;box-shadow:3px 3px black;"><a href="">Recent Orders</a></button>
					<button style="margin-right:5px;margin-left:5px;box-shadow:3px 3px black;"><a href="">History</a></button>
					<button style="margin-right:5px;margin-left:5px;box-shadow:3px 3px black;"><a href="">Logout</a></button>
					
				
			</div>
			<main>
			<div id="divInfo2">
					<div>
					<button style="margin-top:5px;margin-bottom:5px;box-shadow:3px 3px black;"><a href="">Account Balance</a></button>
					</div>
					<div>
					<button style="margin-top:5px;margin-bottom:5px;box-shadow:3px 3px black;"><a href="">Personal Info</a></button>
					</div>
					<div>
					<button style="margin-top:5px;margin-bottom:5px;box-shadow:3px 3px black;"><a href="login.html">Bank Info</a></button>
					</div>

					<div>
					<button style="margin-top:5px;margin-bottom:5px;box-shadow:3px 3px black;"><a href="">Settings</a></button>
					</div>
					<div>
					<button style="margin-top:5px;margin-bottom:5px;box-shadow:3px 3px black;"><a href="">About us</a></button>
					</div>
					<div>
					<button style="margin-top:5px;margin-bottom:5px;box-shadow:3px 3px black;"><a href="">Contact us</a></button>
					</div>
					<div>
					<button style="margin-top:5px;margin-bottom:5px;box-shadow:3px 3px black;"><a href="">Help</a></button>
					</div>
				
			</div>
			<div>
			<i style="color:blue;font-size:40px;"class="fa fa-taxi"></i></h1>
			</div>

		</main>
		
	</body>
		
	</html>		
		