<!DOCTYPE html>

<html>
	<head>
		<title>Models</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<style>
		
		a{color:black; text-decoration:none}

		
		#authenticate {position:fixed; float:left; display:inline-block;
				margin-left:1000px;margin-right:50px;}
		
		#divInfo {position:fixed; margin-left:100px;
				}



		nav {height:100px}

		main{margin-top:200px;}

		.SearchIcons1{margin-left:100px;}

		.SearchIcons2{margin-left:100px;}
		

		#details{height:350px;width:95%;margin-left:2.5%;border-style:solid;border-width:2px 0px;border-color:black;}

	
		

		</style>
	</head>
	<body>
		<header>
		</header>
		
		<nav>

			<div id="divInfo">
					<button style="box-shadow:3px 3px black;background-color:#33E6FF;"><a href="Index.html">Home</a></button>

					<button style="box-shadow:3px 3px black;"><a href="">About us</a></button>

					<button style="box-shadow:3px 3px black;"><a href="">Contact us</a></button>
					
				
			</div>
			

			<div id="authenticate">

				<button style="box-shadow:3px 3px black;background-color:#33E6FF;"><a href="">My Account</a></button>
				
				<button style="box-shadow:3px 3px black;"><a href="">Logout</a></button>
			
			</div>
		</nav>
		
		<main style="margin-top:0px;">
			
			<h1 style="color:blue; margin-left:450px;font-size:65px;font-family:cursive;">Drive It!
						
						<i style="color:blue;font-size:40px;"class="fa fa-taxi"></i></h1>
					

			<div style="margin-top:0px;margin-left:70px;"><h2>Reveal a Car Model</></div>

			<div id="details">

		
			</div>
		

		
		</main>
		</body>
		
			
		