<!DOCTYPE html>

<html>
	<head>
		<title>Models</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<style>
		
		a{color:black; text-decoration:none}

		
		#authenticate {position:fixed; float:left; display:inline-block;
				margin-left:1000px;margin-right:50px;}
		
		#divInfo {position:fixed; margin-left:100px;
				}

		.div1{float:left;margin-left:200px;}

		.div2{float:right;margin-right:200px;}

		nav {height:100px}

		main{margin-top:200px;}

		.SearchIcons1{margin-left:100px;}

		.SearchIcons2{margin-left:100px;}
		
		.table{height:200px}

		#details{height:300px;width:95%;margin-left:2.5%;border-style:solid;border-width:2px 0px;border-color:black;padding-top:40px}

	
		

		</style>
	</head>
	<body>
		<header>
		</header>
		
		<nav>

			<div id="divInfo">
					<button style="box-shadow:3px 3px black;background-color:#33E6FF;"><a href="Index.html">Home</a></button>

					<button style="box-shadow:3px 3px black;"><a href="">About us</a></button>

					<button style="box-shadow:3px 3px black;"><a href="">Contact us</a></button>
					
				
			</div>
			

			<div id="authenticate">

				<button style="box-shadow:3px 3px black;background-color:#33E6FF;"><a href="">My Account</a></button>
				
				<button style="box-shadow:3px 3px black;"><a href="">Logout</a></button>
			
			</div>
		</nav>
		
		<main style="margin-top:10px;">
			
			<h1 style="color:blue; margin-left:450px;font-size:65px;font-family:cursive;">Drive It!
						
						<i style="color:blue;font-size:40px;"class="fa fa-taxi"></i></h1>
					

			<div style="margin-top:0px;margin-left:70px;"><h2>Reveal a Car Model</></div>

			<div id="details">

			<div class="div1">

				<form>

					<table class="table">
						<tr>
							<td>
								<label for="manufacturer2" >Manufacturer</label>
							</td>
							<td>
								<input list="manufacturer1" id="manufacturer2" name="Manufacturer">
								<datalist id="manufacturer1">
								<option value="Toyota">
								<option value="Ford">
								<option value="Honda">
								<option value="BMW">
								<option value="Porsche">
								<option value="Aston Martin">
								<option value="Audi">
								<option value="Jaguar">
								<option value="Lexus">
								<option value="MINI">
								<option value="Mazda">
								</datalist>
							</td>
						</tr>
						<tr>
							<td>
								<label for="modelYr" >Model Year</label>
							</td>
							<td>
								<input type="number" min="1890" max="2021" value="2021" step="1" id="modelYr" name="Year">
							</td>
						</tr>
						<tr>
							<td>
								<label for="model1">Model</label>
							</td>
							<td>
								<input list="model2" id="model1" name="Userame" >
								<datalist id="model2">
								<option value="Avalon">
								<option value="Camaro">
								<option value="Corvette">
								<option value="Corolla">
								<option value="Atlas">
								<option value="Alpine A310">
								<option value="Alfa Romoeo Alfasud">
								<option value="Honda CR-V">
								<option value="Toyota Corolla Cross">
								<option value="AMC Gremlin">
								<option value="Chevrolet Cruze">
								</datalist>
							</td>
						</tr>
						<tr>
							<td>
								<label for="transmission1">Transmission</label>
							</td>
							<td>
								<input list="transmission2" id="transmission1" name="Password" required>
								<datalist id="transmission2">
								<option value="Manual">
								<option value="Automatic">
								</datalist>
							</td>
						</tr>
						
					</table>
				</form>


			</div>
			
			<div class="div2">

				<form>

					<table class="table">
						<tr>
							<td>
								<label for="comfort" >Comfort</label>
							</td>
							<td>
								<input type="text" id="comfort" name="Comfort">
							</td>
						</tr>
						<tr>
							<td>
								<label for="value" >Value</label>
							</td>
							<td>
								<input type="text" id="value" name="Value">
							</td>
						</tr>
						<tr>
							<td>
								<label for="function">Function</label>
							</td>
							<td>
								<input type="text" id="function" name="Function">
								
							</td>
						</tr>
						<tr>
							<td>
								<label for="fuel">Fuel Efficiency</label>
							</td>
							<td>
								<input type="text" id="fuel" name="Fuel">
								
							</td>
						</tr>
						
					</table>
				</form>


			</div>	

			</div>
		

		
		</main>
		</body>
		
			
		